<div class="container">
    <div class="about">
        <div class="about-me">
            <img class="profile" src="../../../assets/profile.jpg">
            <p>1. About me</p>
        </div>
        <div class="project">
            <p>2. Project overview: Estate Web Manager</p>
        </div>
        <div class="tech-stack">
            <p>3. Technology stack:</p>
            <p>Backend/Server: ASP.NET Web Api</p>
            <p><span>(Active Server Pages Network Enabled Technologies)</span></p>
            <p>Database: SQL Server</p>
            <p>Frontend: <span>the fun part :) or... headaches?</span> Angular</p>
        </div>
        <div class="demo">
            <p>4. Demo <span>(please work! please work!)</span></p>
            <img src="../../../assets/please.jpg"/>
        </div>
        <div class="qa">
            <p>5. Questions?</p>
            <img src="../../../assets/checkeredflag.png"/>
        </div>
    </div>
</div>