.estate-card {
  max-width: 27rem;
}

.estate-card-header-image {
  background-image: url("../../../assets/avatar.png");
  background-size: cover;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

mat-card-title {
    font-size: 1.1rem;
}
