<div id="logocontainer" onclick=fill()>
    <div id="ewmlogo"><p>EWM</p></div>
    <div class="loader" style="left:1.5rem; top:0; height:1.5rem; width:0; animation:slide1 3s linear forwards infinite"></div>
    <div class="loader" style="right:0; top:1.5rem; width:1.5rem; height:0; animation:slide2 3s linear forwards infinite; animation-delay:1.5s"></div>
    <div class="loader" style="right:1.5rem; bottom:0; height:1.5rem; width:0; animation:slide3 3s linear forwards infinite"></div>
    <div class="loader" style="left:0; bottom:1.5rem; width:1.5rem; height:0; animation:slide4 3s linear forwards infinite; animation-delay:1.5s"></div>
</div>